/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Permanent+Marker&display=swap');

:root{
    /* ----COLOURS---- */
    --main-hue-color: 50;
    --bg-color: hsl(352, 100%, 32%);

    --main-color: hsl(var(--main-hue-color), 65%, 31%);
    --lighter-main-color: hsl(var(--main-hue-color), 61%, 76%);


    /* FONTS */

    --quote-font: 'Dancing Script', cursive;
    --h1-font: 'Permanent Marker', cursive;

     /* ----font weights---- */
     --lg-font: 700;
     --md-font: 500;
     --sm-font: 300;

    /* ---font sizes--- */
    --lg-font-size: 1.2rem;
    --md-font-size: 1.10rem;
    --sm-font-size: .9rem;
    --xs-font-size: .94rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.6rem;
    --h3-font-size: 1.4rem;
    --icon-font-size: .7rem;

    /* ----Margin bottoms--- */
    --mb-lg: 50px;
    --mb-md: 25px;
    --mb-sm: 20px;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    max-width: 100%;
}
/* Nav Menu */
.offcanvas{
    width: 60%;
}
ul{
    list-style-type: none;
}
.brand-opt{
    padding-left: -10px;
    margin-left: -20px;
}
.brand-img{
    width: 150px;
    height: 40px;
}
label{
    font-size: .85rem;
    padding-left: 5px;
}
nav ul{
    padding: 8px;
    color: #fff;
    gap: 1.15rem;
}
nav ul>li{
    font-size: var(--sm-font-size)
}
.navbar{
    z-index: 9;
    width: 100%;
}
nav.sticky{
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.brand{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}
hr{
    background-color: #fff;
}
.navbar-toggler{
    font-size: .9rem;
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-item a.active{
    color: #fff !important;
    background-color: #000;
    width: fit-content;
    padding: 10px var(--mb-md);
}

/* SECTION ONE */
.section{
    padding: 70px;
    margin: 10px auto !important;
    text-align: center;
}
h1{
    font-family: var(--h1-font);
    width: 50%;
    margin: 5px auto;
}
.carousel{
    margin-top: 100px;
    border-radius: 30px;
}
.carousel-inner{
    border-radius: 30px;
    box-shadow: 10px 20px 18px #adadad;
}
.carousel-item{
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 20px 18px #adadad;
}
.quote-container{
    width: 100%;
}
.quote-img{
    margin: 50px auto;
}
.quote-img>img{
    border-radius: 100%;
    margin: auto auto;
    width: 340px;
    height: 280px;
}
.quote{
    display: flex;
    align-items: center;
}
.quotes{
    font-family: var(--quote-font);
    font-size: var(--md-font-size);
}

/* FORM */
.form-ent{
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
}
form{
    margin: -50px auto;
}
form>div{
    text-align: justify;
    font-size: var(--sm-font-size);
    font-weight: var(--md-font);
    letter-spacing: 1px;
}
.form-control{
    width: 500px !important;
    margin-bottom: var(--mb-sm);
}
.btn{
    width: 300px;
    font-weight: var(--md-font) !important;
    letter-spacing: 2px;
}
.hidden-section{
    display: flex;
    align-items: center;
}
.in-visible{
    display: none;
}
.hide{
    display: none !important;
}
.hidden-section div{
    margin: 20px auto;
    width: 100%;
    padding: 10px;
}

/* SCORE PAGE */
.msg-head{
    text-align: justify;
    font-size: var(--md-font-size);
    margin-bottom: var(--mb-lg);
}
.msg-body>h5{
    font-size: var(--h3-font-size);
}
.msg-body>h4{
    font-size: var(--h1-font-size);
}



/* Large screens */
@media (min-width: 991px){
    :root{
       /* FONTS */
 
     /* ---font sizes--- */
     --lg-font-size: 1.4rem;
     --md-font-size: 1.2rem;
     --sm-font-size: 1.00rem;
     --xs-font-size: .75rem;
     --h1-font-size: 2.0rem;
     --h2-font-size: 1.8rem;
     --h3-font-size: 1.6rem;
     --icon-font-size: .8rem;
 
     /* ----Margin bottoms--- */
     --mb-lg: 30px;
     --mb-md: 20px;
     --mb-sm: 15px;
    }

    .nav-item a.active:hover{
        transform: none !important;
    }
    .nav-item a:hover{
        transform: scale(1.1);
    }
    
}

/* for smaller devices */
@media screen and (max-width: 990px){
    .brand-img{
        width: 120px;
        height: 30px;
    }
    h1{
        width: 80%;
    }
    .quote-img>img{
        width: 280px;
        height: 230px;
    }
    .form-control{
        width: 300px !important;
    }
    .btn{
        width: 180px;
    }
    .send-btn{
        width: 300px;
    }
}
